<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web</title>
</head>
<body>
    <h1>{{msm}}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore doloribus sit quas. Libero dolorum earum qui exercitationem, enim aliquam! Repellat ipsam similique, modi consequatur illo sequi facere ex soluta laborum!
    </p>
</body>
</html>